@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --preview-hover-bg: #f1f5f9; /* slate-100 */
  }
  .dark {
    --preview-hover-bg: #27272a; /* zinc-800 */
  }
}
html {
  scroll-behavior: smooth;
}